.page {
  display: flex;
  flex-direction: column;

  max-width: 1370px;
  height: 1000px;
  margin: 0 auto;

  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.nav {
  width: 70px;
  height: 1000px;
  
}

.main-container {
  @include sm {
    margin-left: 0;
  }

  flex: auto;
  margin-left: 70px;
}

.content {
  max-width: 1021px; 
}

// .container--inner {

// }