p {
  @include primary-text;
}

.block {
  @include flexible(center, center, row, wrap);
}

.block--inner {
  @extend .block;
  flex-wrap: nowrap;
}

.aside {
  color: red;

  &__item {
    
    @include sm {
      color: yellow;
    }

    @include md {
      color: cadetblue;
    }

    @include lg {
      font-size: $primary-color;
    }

  }
}
